* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: #020202;
  padding-right: 80px;
}

/* Lines Header */
svg {
  width: 100%;
  height: auto;
}

.line--green {
  filter: drop-shadow(0px -4px 3.1px #2aff78);
}

.line--blue {
  filter: drop-shadow(0px 4px 3.1px #4057FF);
}

.line--yellow {
  filter: drop-shadow(0px 4px 3.1px #DF212E);
}

.end,
.shine {
  display: inline-block;
}

.end--blue {
  width: 85.193px;
  height: 14.721px;
  background: radial-gradient(
    32.08% 63.01% at 50% 50%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(60, 99, 198, 0.3) 21%,
    rgba(54, 6, 9, 0.3) 77%,
    rgba(0, 0, 0, 0.3) 100%
  );
  mix-blend-mode: exclusion;
}

.shine--blue {
  width: 130.127px;
  height: 50.002px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6188ed 0%,
    #3c63c6 11.5%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: color-dodge;
}

.shine--blue-2 {
  width: 220.127px;
  height: 130.002px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffb9f0 0%,
    #b42daf 14.5%,
    #11379a 28%,
    #0d5870 51%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: color-dodge;
}

.end--green {
  width: 60.745px;
  height: 23.127px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b4ffd0 0%,
    #349859 16.5%,
    #12843c 39.5%
  );
  mix-blend-mode: hard-light;
  opacity: 0.7;
}

.shine--green,
.shine--green-2 {
  width: 200.694px;
  height: 50.055px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6188ed 0%,
    #3c63c6 11.5%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: color-dodge;
}

.end--yellow {
  width: 60.745px;
  height: 15.127px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f18088 0%,
    #a72932 16.5%,
    #9a111b 39.5%,
    #700d14 58.5%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: plus-lighter;
  opacity: 0.4;
}

.shine--yellow,
.shine--yellow-2 {
  width: 160.346px;
  height: 20.911px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b4ffd0 0%,
    #969834 16.5%,
    #828412 39.5%,
    #700d14 58.5%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: color-dodge;
}

.shine--yellow-3 {
  width: 443.873px;
  height: 445.084px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #be1622 0%,
    #b41420 11%,
    #9a111b 28%,
    #700d14 51%,
    #360609 77%,
    #000 100%
  );
  mix-blend-mode: color-dodge;
}
